{% extends 'front/front.html.twig' %}

{% block title %}{{ NameSite }} - Subscribe{% endblock %}

{% block fullContainer %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 center margCenter">
                <div class="page-title">
                    <h1 class="subChoiceTitle">Valider votre inscription</h1>
                    <p>
                        Vous avez reçu un email de confirmation.
                    </p>
                    <p>
                        Veuillez valider votre inscription en cliquant sur le lien se trouvant dans le mail pour terminer votre inscription.
                    </p>
                </div><!-- /.page-title -->
            </div>
        </div>
    </div>
{% endblock %}