<form action="{{ path("subscribe.add.surfer") }}" method="post" id="subSurfer" style="display: none">
    <div class="form-group">
        <div class="row mb-4">
            <label for="lastname" class="col-md-4">Nom</label>
            <input type="text" id="lastname" name="lastname" class="form-control col-md-8" value="">
        </div>
        <div class="row mb-4">
            <label for="firstname" class="col-md-4">Prénom</label>
            <input type="text" id="firstname" name="firstname" class="form-control col-md-8" value="">
        </div>
        <div class="row mb-4">
            <label for="email" class="col-md-4">Email</label>
            <input type="text" id="email" name="email" class="form-control col-md-8" value="">
        </div>

        <input type="hidden" name="_token" value="{{ csrf_token('create') }}">
        <button type="submit" class="btn btn-primary mt-4">S'enregistrer</button>
    </div>
</form>